.log {
  max-width: 20rem;
  color: #3f3b00;
  list-style: none;
  margin: 2rem auto;
  padding: 0;
  text-align: center;
  max-height: 150px;
  overflow-y: hidden;
}

.log li {
  border-radius: 4px;
  animation: slide-in-from-left 1s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
  margin: 0.75rem;
}

.log li.highlighted {
  background-color: #3f3b00;
  color: white;
}

@keyframes slide-in-from-left {
  0% {
    opacity: 0;
    transform: translateX(-30%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width: 768px) {
  .log {
    max-width: 16rem;
  }

  .log li {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  .log {
    max-width: 14rem;
  }

  .log li {
    margin: 0.3rem;
  }
}
